/popsize_10_mut_prob_0.8_2/
gcutil.py
*.xml
/0and180_popsize_10_mut_prob_0.5/
/50gen_popsize_10_mut_prob_0.5_2/
/50gen_popsize_10_mut_prob_0.5/
/popsize_5_mut_prob_0.8/
/popsize_10_mut_prob_0.5/
/popsize_10_mut_prob_0.8/
/popsize_10_mut_prob_0.8_2/
/popsize_10_mut_prob_0.8_3/
xyz.xyz
xyz
/.idea/